<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{> header}}
            <p>This site was created using coordinates from mapbox.com and a weather forcast from weatherstack.com </p>
            {{> footer}}
        </div>
        <script src="js/app.js"></script>
    </body>
</html>